---
layout: default
---

<nav>
	<ul>
		{% for post in site.posts reversed %}
			<li {% if post.isChild %}class="child"{% endif %}>
				<a href="#{{ post.permalink }}">{{ post.title }}</a>
			</li>
		{% endfor %}
	</ul>
</nav>

<article>
	{% for post in site.posts reversed %}
		<section>
			{% if post.isChild %}
				<h2 id="{{ post.permalink }}">{{ post.title }}</h2>
			{% else %}
				<h1 id="{{ post.permalink }}">{{ post.title }}</h1>
			{% endif %}

			{{ post.content }}

			{% if post.isChild %}
			<p>
				<a href="#">Back to top</a>
			</p>
			{% endif %}
		</section>
	{% endfor %}
</article>
