<!DOCTYPE html>
<html>
    <head>
        <title>Magento: The Right Way</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

        <link rel="stylesheet" href="{{ site.url }}/assets/css/reset.css" />
        <link rel="stylesheet" href="{{ site.url }}/assets/css/global.css" />
        <link rel="stylesheet" href="{{ site.url }}/assets/css/syntax.css" />

        <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Bree+Serif' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <a href="https://github.com/punkstar/magentotherightway.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

        <header>
            <h1>Magento: The Right Way</h1>
        </header>

        {{ content }}

        <footer>
            <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a></p>
            <p>
                 <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Magento: The Right Way</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.nicksays.co.uk" property="cc:attributionName" rel="cc:attributionURL">Nick Jones</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
            </p>
            <p>Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://www.magentotherightway.com" rel="dct:source">http://www.magentotherightway.com</a>.</p>
        </footer>
    </body>
</html>

